{% extends 'home.html' %}

{% block content_main %}

    <body class="login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Сброс пароля</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <div class="main" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">

                    <p>
                        Забыли пароль? Введите свой адрес электронной почты ниже,
                        и мы отправим по электронной почте инструкции по установке нового пароля.
                    </p>

                    <div id="content-main">
                        <form action="{% url 'password_reset' %}" method="post">
                            {% csrf_token %}

                            <div class="form-row">
                                {{ form.email.errors }}
                                <label for="id_email" class="required">Адрес электронной почты:</label>
                                <input type="email" name="email" autofocus="" autocapitalize="none"
                                       autocomplete="email" maxlength="150" required="" id="id_username">
                            </div>

                            <div class="submit-row">
                                <input type="submit" value="Восстановить пароль">
                            </div>

                        </form>
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <!-- END Container -->
    </body>


{% endblock %}