{% extends 'base.html' %}

{% block content_header %}
    {% if user.is_authenticated %}
        add_lang
        <br>
        User {{ user.id }}
        <br>

        {% if form.errors %}
            <p>{{ form.errors.error }}</p>

        {% endif %}

        <form method="POST" class="post-d">
            {{ form.name }}
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>


    {% else %}

        <!-- Log in -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-md-2" href="{% url 'VideoYoutubeView' %}">VideoYoutubeView</a>
        </li>
        <!-- End Log in -->

        <!-- Sign up -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-dark d-lg-inline-block" href="{% url 'register' %}">Sign up</a>
        </li>
        <!-- End Sign up -->

    {% endif %}
{% endblock %}
