{% extends 'home.html' %}

{% block content_main %}
    {% if user.is_authenticated %}

        <div id="content-main">
            <form class="d-flex" method="post">
                {% csrf_token %}
                <div class="submit-row">
                    <p>Вы уверены, что хотите удалить {{ languages.get_name_display }} ?</p>

                    <p>Это нельзя отменить!</p>
                </div>

                <div class="submit-row">
                    <input type="submit" value="Удалить">
                </div>

            </form>
        </div>
    {% endif %}
{% endblock %}