{% extends 'base.html' %}

{% block content_main %}
    {% if user.is_authenticated %}
    text_test34
        <br>
        {% for v1 in video %}
            {{ v1.id }}
            {{ v1.url }}
            {{ v1.name }}
            {{ v1.language_id }}
            {{ v1.user_id }}
            <br>

        {% endfor %}

    {% else %}

        <!-- Log in -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-md-2" href="{% url 'VideoYoutubeView' %}">VideoYoutubeView</a>
        </li>
        <!-- End Log in -->

        <!-- Sign up -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-dark d-lg-inline-block" href="{% url 'register' %}">Sign up</a>
        </li>
        <!-- End Sign up -->

    {% endif %}
{% endblock %}
