{% extends 'base.html' %}

{% block content_main %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">Выбрать видео</th>
                <th scope="col">Выбрать видео</th>
                <th scope="col">Удалить язык</th>
            </tr>
            </thead>
            <tbody>
            {% for video in video_list %}
                <tr>
                    <td><a href="{% url 'list_videos' %}" class="list-group-item">{{ video.name }}</a></td>
                    <td><a href="{% url 'list_videos' %}" class="list-group-item">{{ video.url }}</a></td>
                    <td><a href="{% url 'delete_video_youtube' video.pk %}" class="list-group-item">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
{% endblock %}
