{% extends 'base.html' %}

{% block content_header %}
    {% if user.is_authenticated %}
    text_test11
        <a class="btn btn-ghost-dark me-md-2" href="{% url 'add_video_youtube' %}">VideoYoutubeView</a>
    {% else %}

        <!-- Log in -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-md-2" href="{% url 'VideoYoutubeView' %}">VideoYoutubeView</a>
        </li>
        <!-- End Log in -->

        <!-- Sign up -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-dark d-lg-inline-block" href="{% url 'register' %}">Sign up</a>
        </li>
        <!-- End Sign up -->

    {% endif %}
{% endblock %}
