<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/users/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/users/nav_sidebar.css">
    <script src="/static/js/nav_sidebar.js" defer=""></script>
    <link rel="stylesheet" type="text/css" href="/static/css/users/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/users/responsive.css">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Языки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'add_language' %}">Добавить язык</a>
                        <a class="dropdown-item" href="{% url 'select_language' %}">Удалить язык</a>
                            <hr class="dropdown-divider">
                        <a class="dropdown-item"  href="{% url 'select_language' %}">Выбрать язык</a>
                    </ul>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Видео
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'add_video_youtube' %}">Добавить видео</a>
                        <a class="dropdown-item" href="#">Удалить видео</a>
                            <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">Выбрать видео</a>
                    </ul>
                 </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Слова
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                            <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">Something else here</a>
                    </ul>
                </div>

            </ul>
            <form class="d-flex">
                {% if user.is_authenticated %}
                    <!-- Menu
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Add video</a>
        </li>
        End Menu -->



                    <div class="nav-item">
                        <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Языки</a>
                    </div>

                    <div class="nav-item">
                        <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Видео</a>
                    </div>

                    <div class="nav-item">
                        <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Слова</a>
                    </div>

                    <!-- Log out -->
                    <div class="nav-item">
                        <a class="btn btn-outline-success" href="{% url 'logout' %}">Выйти</a>
                    </div>
                    <!-- End Log out -->


                {% else %}

                    <!-- Log in -->
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{% url 'login' %}">Войти</a>
                    </li>
                    <!-- End Log in -->

                    <!-- Sign up -->
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <!-- End Sign up -->

                {% endif %}

            </form>

        </div>
    </div>
</nav>


<div class="container">
    {% block content_main %}

    {% endblock %}
</div>


<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>