{% extends 'base.html' %}

{% block content_header %}
    {% if user.is_authenticated %}
        <!-- Menu
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Add video</a>
        </li>
        End Menu -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-2" href="{% url 'add_video_youtube' %}">Выбрать язык</a>
        </li>

        <!-- Log out -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-2" href="{% url 'logout' %}">Выйти</a>
        </li>
        <!-- End Log out -->
    {% else %}

        <!-- Log in -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-ghost-dark me-md-2" href="{% url 'login' %}">Войти</a>
        </li>
        <!-- End Log in -->

        <!-- Sign up -->
        <li class="nav-item navbar-nav ms-auto">
            <a class="btn btn-dark d-lg-inline-block" href="{% url 'register' %}">Регистрация</a>
        </li>
        <!-- End Sign up -->

    {% endif %}
{% endblock %}
